header {
  height: 60px;
  width: 100%;
  display: flex;
  background-color: black;

    &:first-child {
      justify-items: flex-start ;
      color: white;
      float: left;
    }

    &:last-child {
      justify-items: flex-end;
      float: right;
    }
}

.logo {
  color: white;
  font-weight: bold;
  margin-top: 25px;
  float: left;
  width: 100px;
  height: 30px;
  justify-content: flex-start;
  white-space: nowrap;
}

.on {
  color: $colorGreen;
  display: inline;
}

nav > ul > li > ul::before{
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent black transparent;
  display: block;
  position: absolute;
  top: 25px;
  left: 50%;
  margin-left: -10px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav {
  list-style: none;
  margin-top: 10px;
}

nav > ul {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin-right: 0;
}

nav ul {
  margin-top: 0 ;
  padding: 0;
}

nav > ul > li {
  float: left;
  margin: 23px 0px 5px 20px;
  position: relative;
  &:last-of-type {
    padding-right: 0;
  }
}

nav > ul > li ul {
  display: none;
  position: absolute;
  padding-top: 35px;
  left: -30px;
  right: -30px;
  text-align: center;
}

nav > ul > li > ul > li {
  padding: 10px;
  background-color: black;
}

nav > ul > li:hover ul {
  display: block;
}